.card {
    min-width: 600px;
    min-height: 200px;
    box-shadow: 0px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    transition: 0.25s ease;
    cursor: pointer;
    &:hover {
        min-width: 620px;
        box-shadow: 0px 0px 7px 3px;
    }

    img {
        width: 30px;
    }

    @media only screen and (max-width: 600px) {
        min-width: 300px;
    }
}